:root {
    --bg-color: white;
    --text-color: black;
    --border-color: #ccc;
    --github-icon: '#github-light-icon';
    --github-icon-light: #24292f;
    --github-icon-dark: #fff;
    --github-icon-color: var(--github-icon-light);
}

@media (prefers-color-scheme: dark) {
    :root {
    --bg-color: #1e1e1e;
    --text-color: white;
    --border-color: #333;
    --github-icon: '#github-dark-icon';
    --github-icon-color: var(--github-icon-dark);
    }
}

.github-icon {
    color: var(--github-icon-color);
    width: 24px;
    height: 24px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 300px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 12px;
    border: 1px solid var(--border-color);
}

h1 {
    font-size: 14px;
    text-align: center;
    margin: 5px 0 15px;
}

.section {
    margin-bottom: 15px;
}

.section-header {
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 10px;
}

.list {
    list-style: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.identity-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.identity-email {
    flex: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.identity-provider {
    flex: 0;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.identity-provider svg {
    width: 16px;
    height: 16px;
}

.identity-provider:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
    white-space: nowrap;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.identity-status {
    flex: 1;
    text-align: right;
}

.file-list {
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 5px;
}

.file-list li {
    font-size: 10px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.status-panel {
    display: flex;
    align-items: center;
}

.status-icon {
    margin-right: 10px;
}

.status-icon svg {
    width: 64px;
    height: 64px;
}

.status-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.status-list li {
    font-size: 12px;
    margin-bottom: 5px;
}

.toggle-details-btn {
    display: block;
    width: 100%;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.toggle-details-btn:hover {
    background-color: var(--border-color);
    color: var(--text-color);
}

.details {
    display: none;
}

#toggle-details:checked + label + .details {
    display: block;
}

#toggle-details:checked + label {
    display: none;
}

#toggle-details:checked + .toggle-details-btn + .details {
    display: block;
}

.action-btn {
    display: block;
    width: 100%;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-btn:hover {
    background-color: var(--border-color);
    color: var(--text-color);
}
