name: Publish update.json to R2

on:
  push:
    branches:
      - main
    paths:
      - 'update.json'

jobs:
  publish-update:
    uses: freedomofpress/actionslib/.github/workflows/publish-r2.yaml@main
    with:
      path: update.json
      secrets:
        R2_ACCESS_KEY_ID: ${{ secrets.R2_ACCESS_KEY_ID }}
        R2_SECRET_ACCESS_KEY: ${{ secrets.R2_SECRET_ACCESS_KEY }}
        R2_ACCOUNT_ID: ${{ secrets.R2_ACCOUNT_ID }}
        R2_BUCKET: ${{ secrets.R2_BUCKET }}
